<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
    <h1 class="display-4 text-center">Grade</h1>
    <input type="hidden" name="IdG" #IdG="ngModel" [(ngModel)]="gradeService.formData.IdG">
  
    <div class="form-group">
      <label>Libelle</label>
      <input name="LibelleGrade" #LibelleGrade="ngModel" [(ngModel)]="gradeService.formData.LibelleGrade" class="form-control" required>
    <div class="validation-error" *ngIf="LibelleGrade.invalid && LibelleGrade.touched">Ce champ ne peut etre vide!</div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
    </div>
  </form> 