<h1 class="display-4 text-center">Réparation externe</h1><br/>
<input type="text" [(ngModel)]="SearchText" class="form-control bg-light border-0 small" placeholder="Recherche..." aria-label="Search" aria-describedby="basic-addon2">
<table class="table table-hover">
    
  <thead class="thead light">
    <th>Fournisseur</th>
    <th>Engin</th>
    <th>Total</th>
    <th>Date</th>
    <th>
      <a  class="btn btn-outline-success" routerLink="/reparations"><i class="fa fa-plus-square"></i>Ajouter une réparation</a>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let service of reparationEList|filter:SearchText |paginate: {itemsPerPage:5, currentPage:p}">
    <th (click)="openForEdit(service.IdRE)">{{service.LibelleFournisseur}}</th>
    <th>{{service.Matricule}}</th>
    <th>{{service.Total}}</th>
    <th>{{service.DateR}}</th>
    <td>
      <a class="btn text-danger" (click)="onReparationDelete(service.IdRE)"><i class="fa fa-trash fa-lg"></i></a>
    </td>
    </tr>
    <div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite"></div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"></ul></div></div></div>
  </tbody>
</table>
<pagination-controls (pageChange)="p=$event"></pagination-controls>