
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
  <h1 class="display-4 text-center">Demande mission</h1>
    <input type="hidden" name="IdDM" #IdMi="ngModel" [(ngModel)]="demandeService.formData.IdDM  ">
    <div class="form-group" >
      
        <label>Numero</label>
        <input name="Numero" #Numero="ngModel" [(ngModel)]="demandeService.formData.Numero" class="form-control" readonly>
      <div class="validation-error" *ngIf="Numero.invalid && Numero.touched">Ce champ ne peut etre vide!</div>
      </div>
    <div class="form-group" >
      <label>Date demande</label>
      <input type="date" name="Date_Demande" #Date_Demande="ngModel" [(ngModel)]="demandeService.formData.Date_Demande" class="form-control" required>
  
    </div>
    <div class="form-group" >
      <label>Objet</label>
      <input name="Objet" #Objet="ngModel" [(ngModel)]="demandeService.formData.Objet" class="form-control" required>
      <div class="validation-error" *ngIf="Objet.invalid && Objet.touched">Ce champ ne peut etre vide!</div>
  
    </div>
    
      <div class="form-group" >
        <label>Destination</label>
        <select name="Destination" #Destination="ngModel" [(ngModel)]="demandeService.formData.Destination" class="form-control">
          <option value ="0">select</option>
          <option *ngFor="let i of destinationList" value="{{i.IdDes}}">{{i.LibelleDestination}}</option>
      </select>
    
      </div>
    
    
     
     
      
      
     
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
    </div>
  </form> 
  
  
  