<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
    <h1 class="display-4 text-center">Résidence</h1>
        <input type="hidden" name="IdR" #IdR="ngModel" [(ngModel)]="residenceService.formData.IdR">
       
        <div class="form-group">
          <label>Libelle</label>
          <input name="LibelleResidence" #LibelleResidence="ngModel" [(ngModel)]="residenceService.formData.LibelleResidence" class="form-control" required>
        <div class="validation-error" *ngIf="LibelleResidence.invalid && LibelleResidence.touched">Ce champ ne peut etre vide!</div>
        </div>
        <div class="form-group" >
                <label>Direction</label>
                <select name="Id_Direction" #Id_Direction="ngModel" [(ngModel)]="residenceService.formData.Id_Direction" class="form-control">
                  <option value ="0">select</option>
                  <option *ngFor="let i of directionList" value="{{i.IdD}}">{{i.LibelleDirection}}</option>
              </select>
            
              </div>
        <div class="form-group">
          <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
        </div>
      </form> 