
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
    <h1 class="display-4 text-center">Personne</h1>
    <input type="hidden" name="IdP" #IdP="ngModel" [(ngModel)]="personneService.formData.IdP">
   
    <div class="form-group" >
      <label>Matricule</label>
      <input  name="Matricule" #Matricule="ngModel" [(ngModel)]="personneService.formData.Matricule" class="form-control" required>
      <div class="validation-error" *ngIf="Matricule.invalid && Matricule.touched">Ce champ ne peut etre vide!</div>
    </div>
    <div class="form-group" >
      <label>Nom</label>
      <input  name="Nom" #Nom="ngModel" [(ngModel)]="personneService.formData.Nom" class="form-control" required>
      <div class="validation-error" *ngIf="Nom.invalid && Nom.touched">Ce champ ne peut etre vide!</div>
    </div>
    <div class="form-group" >
      <label>Prénom</label>
      <input name="Prenom" #Prenom="ngModel" [(ngModel)]="personneService.formData.Prenom" class="form-control" required>
      <div class="validation-error" *ngIf="Prenom.invalid && Prenom.touched">Ce champ ne peut etre vide!</div>
  
    </div>
    <div class="form-group" >
      <label>Email</label>
      <input name="Email" #Email="ngModel" [(ngModel)]="personneService.formData.Email" class="form-control" [pattern]="patternEmail" required>
      <div class="validation-error" *ngIf="Email.invalid && Email.touched">
        <div *ngIf="Email.errors['required']">
          Ce champ ne peut etre vide!
       </div>
      <div *ngIf="Email.errors['pattern']">
          Email invalide
       </div>

      </div>
  
    </div>
    <div class="form-group" >
      <label>Téléphone</label>
      <input name="Tel" #Tel="ngModel" [(ngModel)]="personneService.formData.Tel" class="form-control" [pattern]="patternPhone" required>
      <div class="validation-error" *ngIf="Tel.invalid && Tel.touched">
        <div *ngIf="Tel.errors['required']">
          Ce champ ne peut etre vide!
       </div>
      <div *ngIf="Tel.errors['pattern']">
          Numéro de téléphone invalide
       </div>
  
      </div>
  
    </div>
    <div class="form-group" >
      <label>Adresse</label>
      <input name="Adresse" #Adresse="ngModel" [(ngModel)]="personneService.formData.Adresse" class="form-control" required>
      <div class="validation-error" *ngIf="Adresse.invalid && Adresse.touched">Ce champ ne peut etre vide!</div>
  
    </div>
    <div class="form-group" >
      <label>Grade</label>
      <select name="Id_Grade" #Id_Grade="ngModel" [(ngModel)]="personneService.formData.Id_Grade" class="form-control">
          <option value ="0">select</option>
          <option *ngFor="let i of gradeList" value="{{i.IdG}}">{{i.LibelleGrade}}</option>
      </select>
  
    </div>
    <div class="form-group" >
      <label>Fonction</label>
      <select name="Id_Fonction" #Id_Fonction="ngModel" [(ngModel)]="personneService.formData.Id_Fonction" class="form-control">
          <option value ="0">select</option>
          <option *ngFor="let i of fonctionList" value="{{i.IdF}}">{{i.LibelleFonction}}</option>
      </select>
  
    </div>
      <div class="form-group" >
        <label>Résidence</label>
        <select name="Id_Residence" #Id_Residence="ngModel" [(ngModel)]="personneService.formData.Id_Residence" class="form-control">
            <option value ="0">select</option>
            <option *ngFor="let i of residenceList" value="{{i.IdR}}">{{i.LibelleResidence}}</option>
        </select>
      </div>
      <div class="form-group" >
        <label>Nombre de litres</label>
        <input name="NbreL" #NbreL="ngModel" [(ngModel)]="personneService.formData.NbreL" class="form-control" required>
        <div class="validation-error" *ngIf="NbreL.invalid && NbreL.touched">Ce champ ne peut etre vide!</div>
    
      </div>
     
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
    </div>
  </form> 
  
  
  