<div class="jumbtron">

  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-add-model></app-add-model>
    </div>
    <div class="col-md-5">
      <app-list-model></app-list-model>
    </div>
  </div>

</div>
