<div class="jumbtron">

  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-add-direction></app-add-direction>
    </div>
    <div class="col-md-5">
      <app-list-direction></app-list-direction>
    </div>
  </div>

</div>
