<div class="jumbtron">

    <hr>
    <div class="row">
      <div class="col-md-5">
        <app-add-marque></app-add-marque>
      </div>
      <div class="col-md-5">
        <app-list-marque></app-list-marque>
      </div>
    </div>
  
  </div>
  