<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
    <h1 class="display-4 text-center">Direction</h1>
  <input type="hidden" name="IdD" #IdD="ngModel" [(ngModel)]="directionService.formData.IdD">

  <div class="form-group">
    <label>Libelle</label>
    <input name="LibelleDirection" #LibelleDirection="ngModel" [(ngModel)]="directionService.formData.LibelleDirection" class="form-control" required>
  <div class="validation-error" *ngIf="LibelleDirection.invalid && LibelleDirection.touched">Ce champ ne peut etre vide!</div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form> 