<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
  <h1 class="display-4 text-center">Entretien</h1>
<input type="hidden" name="IdEnt" #IdEnt="ngModel" [(ngModel)]="entretienService.formData.IdEnt">
<div class="form-group">
    <label>Date de l'entretien</label>
    <input type="date" name="DateEntretien" #DateEntretien="ngModel" [(ngModel)]="entretienService.formData.DateEntretien" class="form-control" required>
  <div class="validation-error" *ngIf="DateEntretien.invalid && DateEntretien.touched">Ce champ ne peut etre vide!</div>
  </div>
<div class="form-group">
  <label>Engin</label>
  <select name="IdEngin" #IdEngin="ngModel" [(ngModel)]="entretienService.formData.IdEngin" class="form-control">
    <option value ="0">select</option>
    <option *ngFor="let i of enginList" value="{{i.IdE}}">{{i.Matricule}}</option>
</select>
</div>
<div class="form-group">
  <label>Nature</label>
  <select name="Nature" #Nature="ngModel" [(ngModel)]="entretienService.formData.Nature" class="form-control">
    <option>Vidange</option>
    <option>Changement de roues</option>
    <option>Diagnostic</option>
</select>
</div>
<div class="form-group">
  <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
</div>
</form> 