<div class="jumbtron">
  <h1 class="display-4 text-center">Facture</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-add-facture></app-add-facture>
    </div>
    <div class="col-md-5">
      <app-list-facture></app-list-facture>
    </div>
  </div>

</div>
