
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
    <h1 class="display-4 text-center">Type engin</h1>
  <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="typeService.formData.Id">

  <div class="form-group" >
    <label>Libelle</label>
    <input name="LibelleTypeEngin" #LibelleTypeEngin="ngModel" [(ngModel)]="typeService.formData.LibelleTypeEngin" class="form-control" required>
  <div class="validation-error" *ngIf="LibelleTypeEngin.invalid && LibelleTypeEngin.touched">Ce champ ne peut etre vide!</div>
  </div>
  <div class="form-group" >
    <label>Model</label>
    <select name="Id_Model" #Id_Model="ngModel" [(ngModel)]="typeService.formData.Id_Model" class="form-control">
      <option value ="0">select</option>
      <option *ngFor="let i of modelList" value="{{i.IdM}}">{{i.LibelleModel}}</option>
  </select>

  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form> 


