<div class="jumbtron">
  <h1 class="display-4 text-center">Fournisseur</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-add-fournisseur></app-add-fournisseur>
    </div>
    <div class="col-md-5">
      <app-list-fournisseur></app-list-fournisseur>
    </div>
  </div>

</div>
