
<form #form="ngForm"  (submit)="onSubmit(form)" autocomplete="off"> 
  <h1 class="display-4 text-center">Affectation</h1>
    <input type="hidden" name="IdAff" #IdAff="ngModel" [(ngModel)]="affectationService.formData.IdAff">
    <div class="form-group" >
        <label>Date affectation</label>
        <input min="{{minDate}}" type="date" name="dateAff" #dateAff="ngModel" [(ngModel)]="affectationService.formData.dateAff" class="form-control" required>
      
      </div>
      <div class="form-group" >
        <label>Engin</label>
        <select name="Id_Engin" #Id_Engin="ngModel" [(ngModel)]="affectationService.formData.Id_Engin" class="form-control">
          <option value ="0">select</option>
          <option *ngFor="let i of enginList" value="{{i.IdE}}">{{i.Matricule}}</option>
      </select>
    
      </div>
      <div class="form-group" >
        <label>Personne</label>
        <select name="Id_Personne" #Id_Personne="ngModel" [(ngModel)]="affectationService.formData.Id_Personne" class="form-control">
          <option value ="0">select</option>
          <option *ngFor="let i of personneList" value="{{i.IdP}}">{{i.Matricule}}</option>
      </select>
    
      </div>
    <div class="form-group" >
      <label>Observation</label>
      <input name="Observation" #Observation="ngModel" [(ngModel)]="affectationService.formData.Observation" class="form-control" required>
      <div class="validation-error" *ngIf="Observation.invalid && Observation.touched">Ce champ ne peut etre vide!</div>
  
    </div>
 
      <div class="form-group" >
        <label>Type affectation</label>
        <select name="TypeAff" #TypeAff="ngModel" [(ngModel)]="affectationService.formData.TypeAff" class="form-control">
          <option>Affectation</option>
          <option>Remplacement</option>
      </select>
    
      </div>
      <div class="form-group" >
        <label>Etat voiture</label>
        <select name="Etat_Voiture" #Etat_Voiture="ngModel" [(ngModel)]="affectationService.formData.Etat_Voiture" class="form-control">
          <option>Bonne</option>
          <option>Moyenne</option>
          <option>Mauvaise</option>
      </select>
   
      </div>
      
      <div class="form-group" >
        <label>Index</label>
        <input name="Index" #Index="ngModel" [(ngModel)]="affectationService.formData.Index" class="form-control" required>
      <div class="validation-error" *ngIf="Index.invalid && Index.touched">Ce champ ne peut etre vide!</div>
      </div>
      <div class="form-group" >
        <label>Roue secours</label>
        <select name="RoueSecours" #RoueSecours="ngModel" [(ngModel)]="affectationService.formData.RoueSecours" class="form-control">
          <option>Oui</option>
          <option>Non</option>
      </select>
    
      </div>
      <div class="form-group" >
        <label>Allume gaz</label>
        <select name="AllumeGaz" #AllumeGaz="ngModel" [(ngModel)]="affectationService.formData.AllumeGaz" class="form-control">
          <option>Oui</option>
          <option>Non</option>
      </select>
     
      </div>
      <div class="form-group" >
        <label>Extincteur</label>
        <select name="Extincteur" #Extincteur="ngModel" [(ngModel)]="affectationService.formData.Extincteur" class="form-control">
          <option>Oui</option>
          <option>Non</option>
      </select>
     
      </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
    </div>
  </form> 
  
  
