
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
    <h1 class="display-4 text-center">Marque</h1>
  <input type="hidden" name="IdMa" #IdMa="ngModel" [(ngModel)]="marqueService.formData.IdMa">

  <div class="form-group" >
    <label>Libelle</label>
    <input name="LibelleMarque" #LibelleMarque="ngModel" [(ngModel)]="marqueService.formData.LibelleMarque" class="form-control" required>
  <div class="validation-error" *ngIf="LibelleMarque.invalid && LibelleMarque.touched">Ce champ ne peut etre vide!</div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form> 

