<div id="Facture">
    <h2 align="center">Liste des factures</h2>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Date de la facture</th>
                <th>Fournisseur</th>
                <th>Observation</th>
                <th>Total HT</th>
                <th>Total rémise</th>
                <th>Total TVA</th>
                <th>Total TTC</th>
                <th>Timbre</th>
                <th>NET</th>
              </tr>
            </thead>
            <tbody>

  <tr *ngFor="let f of factureService.listFacture">
    

      <td (click)="populateForm(f)">{{f.Date_Facture}}</td>
  
    <td (click)="populateForm(f)">{{f.Fournisseur}}</td>
    <td (click)="populateForm(f)">{{f.Observation}}</td>
  
    <td (click)="populateForm(f)">{{f.TotHt}}</td>
    <td (click)="populateForm(f)">{{f.TotRem}}</td>
  
    <td (click)="populateForm(f)">{{f.TotTVA}}</td>
    <td (click)="populateForm(f)">{{f.TotTTC}}</td>
  
    <td (click)="populateForm(f)">{{f.Timbre}}</td>
 
    <td (click)="populateForm(f)">{{f.NET}}</td>
 
   
  </tr>

</tbody>
</table>
</div>
  
<div align="center">
  <button style="background-color:powderblue;" (click)="generatePdf()">Generate PDF</button>
  </div>