
<div id="Mission">
    <h2 align="center">Liste des missions</h2>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          
          <thead>
            <tr>
              <th>Numéro</th>
              <th>Date mission</th>
              <th>Objet</th>
              <th>Numéro de la demande</th>
              <th>Destination</th>
              <th>Engin</th>
              <th>Date début</th>
              <th>Date fin</th>
              <th>Personne</th>
            </tr>
          </thead>
          <tbody>
      <tr *ngFor="let f of missionService.missionList ">
        
    
          <td (click)="populateForm(f)" >{{f.Numero}}</td>
      
        <td (click)="populateForm(f)" >{{f.Date_Mission}}</td>
        <td (click)="populateForm(f)" >{{f.Objet}}</td>
      
        <td (click)="populateForm(f)" >{{f.NumeroDemande}}</td>
        <td (click)="populateForm(f)" >{{f.Destination}}</td>
      
        <td (click)="populateForm(f)" >{{f.IdEngin}}</td>
        <td (click)="populateForm(f)" >{{f.Date_Debut}}</td>
      
        <td (click)="populateForm(f)" >{{f.Date_Fin}}</td>
     
        <td (click)="populateForm(f)" >{{f.Personne}}</td>
     
      
      </tr>
      
    
    </tbody>
  </table>
  </div>
  <div align="center">
    <button style="background-color:powderblue;" (click)="generatePdf()">Generate PDF</button>
    </div>
   
  
  