<div id="demandeMission">
    <h2 align="center">Liste des demandes missions</h2>
<table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Numéro</th>
        <th>Date demande</th>
        <th>Objet</th>
        <th>Destination</th>
        
      </tr>
    </thead>
    <tbody>

<tr *ngFor="let f of demandeService.demandeList">
  

    <td (click)="populateForm(f)">{{f.Numero}}</td>

  <td (click)="populateForm(f)">{{f.Date_Demande}}</td>
  <td (click)="populateForm(f)">{{f.Objet}}</td>

 
  <td (click)="populateForm(f)">{{f.Destination}}</td>



</tr>

</tbody>
</table>
</div>
  
<div align="center">
  <button style="background-color:powderblue;" (click)="generatePdf()">Generate PDF</button>
  </div>