<div id="Consommation">
  <h2 align="center">Liste des consommations</h2>

<table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Direction</th>
      <th>Observation</th>
      <th>Date_nvt</th>
      <th>NbreL</th>
      <th>Nature</th>
   
      
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let f of consommationService.consommationList">

        <td (click)="populateForm(f)">{{f.Id_Direction}}</td>
        <td (click)="populateForm(f)">{{f.Observation}}</td>
        <td (click)="populateForm(f)">{{f.Date_nvt| date:'dd/MM/yyyy'}}</td>
        <td (click)="populateForm(f)">{{f.NbreL}}</td>
        <td (click)="populateForm(f)">{{f.Nature}}</td>
        

        </tr>
      </tbody>

    </table>
    </div>
<div align="center">
<button style="background-color:powderblue;" (click)="generatePdf()">Generate PDF</button>
</div>