<h4 class="dispaly-4"></h4>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden"  name="Id" #Id="ngModel" [(ngModel)]="formData.Id">
    <input type="hidden"  name="IdR" #IdR="ngModel" [(ngModel)]="formData.IdR">
    <input type="hidden"  name="ProduitName" #Id_Produit="ngModel" [(ngModel)]="formData.ProduitName">
 
  <div class="form-group">
    <label>Produit</label>
    <select name="IdP" #IdP="ngModel" [(ngModel)]="formData.IdP" class="form-control" (change)="updatePrice($event.target)"
    [class.is-invalid]="!isValid && formData.IdP==0">
      <option value="0">-Select-</option>
      <option *ngFor="let item of List" value="{{item.IdP}}">{{item.IdProduit}}</option>
    </select>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Prix</label>
      <div class="input-group">
        <div class="input-group-prepend">
         
        </div>
        <input name="PU" #PU="ngModel" [(ngModel)]="formData.PU" class="form-control" readonly>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Quantité</label>
      <input name="Quantite" #Quantite="ngModel" [(ngModel)]="formData.Quantite" class="form-control"
      (keyup)="updateTotal()" [class.is-invalid]="!isValid && formData.Quantite==0">
    </div>
  </div>
  <div class="form-group">
    <label>Total</label>
    <div class="input-group">
      <div class="input-group-prepend">
    
      </div>
      <input name="Montant" #Montant="ngModel" [(ngModel)]="formData.Montant" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
  </div>
</form>