<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
    <h1 class="display-4 text-center">Carburant</h1>
  <input type="hidden" name="IdC" #IdC="ngModel" [(ngModel)]="carburantService.formData.IdC">
  
  <div class="form-group">
    <label>Libelle</label>
    <input name="LibelleCarburant" #LibelleCarburant="ngModel" [(ngModel)]="carburantService.formData.LibelleCarburant" class="form-control" required>
  <div class="validation-error" *ngIf="LibelleCarburant.invalid && LibelleCarburant.touched">Ce champ ne peut etre vide!</div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form> 