
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
  <h1 class="display-4 text-center">Entrée</h1>
  <input type="hidden" name="IdEn" #IdEn="ngModel" [(ngModel)]="entreeService.formData.IdEn">
  <div class="form-group" >
      <label>Numéro</label>
      <input name="Numero" #Numero="ngModel" [(ngModel)]="entreeService.formData.Numero" class="form-control" readonly>
    <div class="validation-error" *ngIf="Numero.invalid && Numero.touched">Ce champ ne peut etre vide!</div>
    </div>
  <div class="form-group" >
    <label>Date entrée</label>
    <input min="{{minDate}}" type="date" name="Date_Entree" #Date_Entree="ngModel" [(ngModel)]="entreeService.formData.Date_Entree" class="form-control" required>
  
  </div>
  <div class="form-group" >
    <label>Engin</label>
    <select name="Id_Engin" #Id_Engin="ngModel" [(ngModel)]="entreeService.formData.Id_Engin" class="form-control">
      <option value ="0">select</option>
      <option *ngFor="let i of enginList" value="{{i.IdE}}">{{i.Matricule}}</option>
  </select>

  </div>
  <div class="form-group" >
    <label>Motif</label>
    <select name="Id_Motif" #Id_Motif="ngModel" [(ngModel)]="entreeService.formData.Id_Motif" class="form-control">
      <option value ="0">select</option>
      <option *ngFor="let i of motifList" value="{{i.Id}}">{{i.LibelleMotif}}</option>
  </select>

  </div>
 
  <div class="form-group" >
    <label>Observation</label>
    <input name="Observation" #Observation="ngModel" [(ngModel)]="entreeService.formData.Observation" class="form-control" required>
  <div class="validation-error" *ngIf="Observation.invalid && Observation.touched">Ce champ ne peut etre vide!</div>
  </div>
  <div class="form-group" >
    <label>Index</label>
    <input name="Index" #Index="ngModel" [(ngModel)]="entreeService.formData.Index" class="form-control" required>
  <div class="validation-error" *ngIf="Index.invalid && Index.touched">Ce champ ne peut etre vide!</div>
  </div>
  <div class="form-group" >
    <label>Niveau</label>
    <select name="Niveau" #Niveau="ngModel" [(ngModel)]="entreeService.formData.Niveau" class="form-control">
      <option>Moyen</option>
      <option>Acceptable</option>
      <option>Inadmissible</option>
  </select>

  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form> 


