<div id="Entree">
    <h2 align="center">Liste des entrées</h2>

<table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Numéro</th>
        <th>Date entrée</th>
        <th>Engin</th>
        <th>Motif</th>
        <th>Observation</th>
        <th>Index</th>
        <th>Niveau</th>
        
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of entreeService.entreeList">
  


            <td (click)="populateForm(f)">{{f.Numero}}</td>
            <td (click)="populateForm(f)">{{f.Date_Entree}}</td>
            <td (click)="populateForm(f)">{{f.Matricule}}</td>
            <td (click)="populateForm(f)">{{f.LibelleMotif}}</td>
            <td (click)="populateForm(f)">{{f.Observation}}</td>
            <td (click)="populateForm(f)">{{f.Index}}</td>
            <td (click)="populateForm(f)">{{f.Niveau}}</td>
          
          

          </tr>
        </tbody>

      </table>
      </div>
<div align="center">
<button style="background-color:powderblue;" (click)="generatePdf()">Generate PDF</button>
</div>