
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Liste des produits</h6>
  </div>
  <div class="card-body">
     
      
    <div class="table-responsive">
        <div class="input-group">
            <input type="text" [(ngModel)]="SearchText" class="form-control bg-light border-0 small" placeholder="Recherche..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
            <br /><br />
            
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        
        <thead>
            <tr>
                <th>Produit</th>
                <th>Design</th>
                <th>PU</th>
                <th>TVA</th>
                <th>Fodec</th>
                <th>Stock initial</th>
                <th>Famille</th>
                <th>Sous famille</th>
               
              </tr>
            </thead>
            <tbody>

  <tr *ngFor="let f of produitService.listProduit|filter:SearchText |paginate: {itemsPerPage:5, currentPage:p}">
    

      <td (click)="populateForm(f)">{{f.IdProduit}}</td>
  
    <td (click)="populateForm(f)">{{f.Design}}</td>
    <td (click)="populateForm(f)">{{f.PU}}</td>
  
    <td (click)="populateForm(f)">{{f.TVA}}</td>
    <td (click)="populateForm(f)">{{f.Fodec}}</td>
  
    <td (click)="populateForm(f)">{{f.Strock_Init}}</td>
    <td (click)="populateForm(f)">{{f.LibelleSFamille}}</td>
  
    <td (click)="populateForm(f)">{{f.LibelleFamille}}</td>
 
    
    
    <td><a class="btn text-danger" (click)="onDelete(f.IdP)"><i class="fa fa-trash fa-lg"></i></a></td>
    <td ><a class="btn text-danger" (click)= "selectProduit(f)"><i class="fa fa-pencil fa-lg"></i></a></td>
  </tr>
  <div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite"></div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"></ul></div></div></div>
</tbody>
</table>

<pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>
</div>

</div>
