<div class="jumbtron">

  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-add-sortie></app-add-sortie>
    </div>
    <div class="col-md-7">
      <app-list-sortie></app-list-sortie>
  </div>

</div>

