
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
    <h1 class="display-4 text-center">Fournisseur</h1>
  <input type="hidden" name="IdFo" #IdFo="ngModel" [(ngModel)]="fournisseurService.formData.IdFo">
 
  
  <div class="form-group" >
    <label>Libellé fournisseur</label>
    <input name="LibelleFournisseur" #LibelleFournisseur="ngModel" [(ngModel)]="fournisseurService.formData.LibelleFournisseur" class="form-control" required>
    <div class="validation-error" *ngIf="LibelleFournisseur.invalid && LibelleFournisseur.touched">Ce champ ne peut etre vide!</div>

  </div>
  <div class="form-group" >
    <label>Responsable</label>
    <input name="Responsable" #Responsable="ngModel" [(ngModel)]="fournisseurService.formData.Responsable" class="form-control" required>
    <div class="validation-error" *ngIf="Responsable.invalid && Responsable.touched">Ce champ ne peut etre vide!</div>

  </div>
  
  <div class="form-group" >
    <label>Adresse</label>
    <input name="Adresse" #Adresse="ngModel" [(ngModel)]="fournisseurService.formData.Adresse" class="form-control" required>
    <div class="validation-error" *ngIf="Adresse.invalid && Adresse.touched">Ce champ ne peut etre vide!</div>

  </div>
  <div class="form-group" >
    <label>Ville</label>
    <input name="Ville" #Ville="ngModel" [(ngModel)]="fournisseurService.formData.Ville" class="form-control" required>
    <div class="validation-error" *ngIf="Ville.invalid && Ville.touched">Ce champ ne peut etre vide!</div>

  </div>
  <div class="form-group" >
    <label>Téléphone</label>
    <input name="Tel" #Tel="ngModel" [(ngModel)]="fournisseurService.formData.Tel" class="form-control" [pattern]="patternPhone" required>
    <div class="validation-error" *ngIf="Tel.invalid && Tel.touched">
      <div *ngIf="Tel.errors['required']">
        Ce champ ne peut etre vide!
     </div>
    <div *ngIf="Tel.errors['pattern']">
        Numéro de téléphone invalide
     </div>

    </div>

  </div>
  <div class="form-group" >
    <label>Email</label>
    <input name="Email" #Email="ngModel" [(ngModel)]="fournisseurService.formData.Email" class="form-control" [pattern]="patternEmail" required>
    <div class="validation-error" *ngIf="Email.invalid && Email.touched">
      <div *ngIf="Email.errors['required']">
        Ce champ ne peut etre vide!
     </div>
    <div *ngIf="Email.errors['pattern']">
        Email invalide
     </div>

    </div>

  </div>
    <div class="form-group" >
      <label>Login</label>
      <input name="Login" #Login="ngModel" [(ngModel)]="fournisseurService.formData.Login" class="form-control" [pattern]="patternLogin" required>
      <div class="validation-error" *ngIf="Login.invalid && Login.touched">
        <div *ngIf="Login.errors['required']">
          Ce champ ne peut etre vide!
       </div>
      <div *ngIf="Login.errors['pattern']">
          Login invalide ! Insérez au moins 8 caractères!
       </div>
  
      </div>
    </div>
    <div class="form-group" >
      <label>Mot de passe</label>
      <input type="password" name="Mdp" #Mdp="ngModel" [(ngModel)]="fournisseurService.formData.Mdp" class="form-control" [pattern]="patternPwd" required>
      <div class="validation-error"  *ngIf="Mdp.invalid && Mdp.touched">
  
        <div *ngIf="Mdp.errors['required']">
            Ce champ ne peut etre vide!
         </div>
        <div *ngIf="Mdp.errors['pattern']">
            Mot de passe invalide ! Insérez des lettres minuscules et majuscules avec des chiffres!
         </div>
      </div>
    </div>
   
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form> 


