<div id="Fournisseur">
  <h2 align="center">Liste des fournisseurs</h2>
  <table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Libellé</th>
                <th>Responsable</th>
              
                <th>Adresse</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Login</th>
                <th>Mot de passe</th>
        
      </tr>
    </thead>
    <tbody>

<tr *ngFor="let f of fournisseurService.listFournisseur">
  

  
  <td (click)="populateForm(f)">{{f.LibelleFournisseur}}</td>
  
  <td (click)="populateForm(f)">{{f.Responsable}}</td>
 
  <td (click)="populateForm(f)">{{f.Adresse}}</td>
  <td (click)="populateForm(f)">{{f.Ville}}</td>

  <td (click)="populateForm(f)">{{f.Tel}}</td>
  <td (click)="populateForm(f)">{{f.Email}}</td>

  <td (click)="populateForm(f)">{{f.Login}}</td>

  <td (click)="populateForm(f)">{{f.Mdp}}</td>
  </tr>
 
 

 



</tbody>
</table>
</div>

<div align="center">
  <button style="background-color:powderblue;" (click)="generatePdf()">Generate PDF</button>
  </div>