<div class="jumbtron">

  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-add-type></app-add-type>
    </div>
    <div class="col-md-5">
      <app-list-type></app-list-type>
    </div>
  </div>

</div>
