<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Login</title>

  <!-- Custom fonts for this template-->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
  


  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>

              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4"><FONT color="verdana"><b>Authentification</b></FONT></h1>
                  </div>
                  <br/><br/>
                  <label style="color: red">{{error}}</label>
                  <br/>

                    <div class="form-group">
                        <input type="text" name="Login" #Login="ngModel" [(ngModel)]="User.Login" class="form-control" required>
                        <div class="validation-error" *ngIf="Login.invalid && Login.touched">Ce champ ne peut etre vide!</div>
                    </div>
                    <div class="form-group">
                     
                      
                          <input type="password" name="Mdp" #Mdp="ngModel" [(ngModel)]="User.Mdp" class="form-control" required>
                          <div class="validation-error" *ngIf="Mdp.invalid && Mdp.touched">Ce champ ne peut etre vide!</div>
              
                    </div>
                    
                    <button type="submit"  class="btn btn-lg btn-block" (click)="authentifier()">Login</button>
                  
              
                  
                    <br/>
                    
          
                  <br/><br/><br/><br/>
                  <hr><hr>
                
                  <div class="text-center">
                    
                    
                    <a class="small" routerLink="/Register">Créer un compte!</a>
                 
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin-2.min.js"></script>

</body>

</html>
