<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
    <h1 class="display-4 text-center">Sous famille</h1>
    <input type="hidden" name="IdSf" #IdSf="ngModel" [(ngModel)]="sfamilleService.formData.IdSf">
  
 
  <div class="form-group">
    <label>Libellé sous famille</label>
    <input name="LibelleSFamille" #LibelleSFamille="ngModel" [(ngModel)]="sfamilleService.formData.LibelleSFamille" class="form-control" required>
  <div class="validation-error" *ngIf="LibelleSFamille.invalid && LibelleSFamille.touched">Ce champ ne peut etre vide!</div>
  </div>

  <div class="form-group" >
      <label>Famille</label>
      <select name="Id_Famille" #Id_Famille="ngModel" [(ngModel)]="sfamilleService.formData.Id_Famille" class="form-control">
        <option value ="0">select</option>
        <option *ngFor="let i of sfamilleList" value="{{i.IdFa}}">{{i.LibelleFamille}}</option>
    </select>
  
    </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form> 