<div id="Sortie">
    <h2 align="center">Liste des sorties</h2>
<table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Numéro</th>
      <th>Date sortie</th>
      <th>Numéro entrée</th>
      <th>Engin</th>
      
      <th>Observation</th>
    
      
    </tr>
  </thead>
  <tbody>
    
<tr *ngFor="let f of sortieService.sortieList">
  


    <td (click)="populateForm(f)">{{f.Numero}}</td>
    <td (click)="populateForm(f)">{{f.Date_Sortie}}</td>
    <td (click)="populateForm(f)">{{f.Numero}}</td>
    <td (click)="populateForm(f)">{{f.Matricule}}</td>
    <td (click)="populateForm(f)">{{f.Observation}}</td>
  
  
  
  </tr>
</tbody>

</table>
</div>
<div align="center">
  <button style="background-color:powderblue;" (click)="generatePdf()">Generate PDF</button>
  </div>