

<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
  <h1 class="display-4 text-center">Motif</h1>
  <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="motifService.formData.Id">
  
  
  
  
   
   
    <div class="form-group" >
      <label>Libéllé motif</label>
      <input name="LibelleMotif" #LibelleMotif="ngModel" [(ngModel)]="motifService.formData.LibelleMotif" class="form-control" required>
      <div class="validation-error" *ngIf="LibelleMotif.invalid && LibelleMotif.touched">Ce champ ne peut etre vide!</div>
  
    </div>
    
   
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form> 


