<h1 class="display-4 text-center">Réparation interne</h1><br/>
<input type="text" [(ngModel)]="SearchText" class="form-control bg-light border-0 small" placeholder="Recherche..." aria-label="Search" aria-describedby="basic-addon2">
<table class="table table-hover">
    
  <thead class="thead light">
    <th>Numéro</th>
    <th>Engin</th>
    <th>Observation</th>
    <th>Total</th>
    <th>Date</th>
    <th>
      <a  class="btn btn-outline-success" routerLink="/Reparations"><i class="fa fa-plus-square"></i>Ajouter une réparation</a>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let produit of reparationList|filter:SearchText |paginate: {itemsPerPage:5, currentPage:p}">
    <th (click)="openForEdit(produit.IdR)">{{produit.Numero}}</th>
    <th>{{produit.Matricule}}</th>
    <th>{{produit.Observation}}</th>
    <th>{{produit.Total}}</th>
    <th>{{produit.Date}}</th>
    <td>
      <a class="btn text-danger" (click)="onReparationDelete(produit.IdR)"><i class="fa fa-trash fa-lg"></i></a>
      <a class="btn text-danger" (click)="openForEdit(produit.IdR)"></a>
      <a class="btn text-danger" (click)= "selectReparation(f)"></a>
    </td>
    </tr>
    <div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite"></div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"></ul></div></div></div>
  </tbody>
</table>
<pagination-controls (pageChange)="p=$event"></pagination-controls>