

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Gestion parc automobile</title>

  <!-- Custom fonts for this template-->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4"><FONT color="blue"><b>Créer un compte</b></FONT></h1>
              </div>
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 

  <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="userService.formData.Id">
 
  <div class="form-group" >
    <label>Matricule</label>
    <input  name="Matricule" #Matricule="ngModel" [(ngModel)]="userService.formData.Matricule" class="form-control" required>
    <div class="validation-error" *ngIf="Matricule.invalid && Matricule.touched">Ce champ ne peut etre vide!</div>
  </div>
  <div class="form-group" >
    <label>Nom</label>
    <input  name="Nom" #Nom="ngModel" [(ngModel)]="userService.formData.Nom" class="form-control" required>
    <div class="validation-error" *ngIf="Nom.invalid && Nom.touched">Ce champ ne peut etre vide!</div>
  </div>
  <div class="form-group" >
    <label>Téléphone</label>
    <input name="Tel" #Tel="ngModel" [(ngModel)]="userService.formData.Tel" class="form-control" [pattern]="patternPhone" required>
    <div class="validation-error" *ngIf="Tel.invalid && Tel.touched">
        <div *ngIf="Tel.errors['required']">
          Ce champ ne peut etre vide!
       </div>
      <div *ngIf="Tel.errors['pattern']">
          Numéro de téléphone invalide
       </div>
  
      </div>

  </div>
  <div class="form-group" >
    <label>Login</label>
    <input name="Login" #Login="ngModel" [(ngModel)]="userService.formData.Login" class="form-control"  [pattern]="patternLogin" required>
    <div class="validation-error" *ngIf="Login.invalid && Login.touched">
      <div *ngIf="Login.errors['required']">
        Ce champ ne peut etre vide!
     </div>
    <div *ngIf="Login.errors['pattern']">
      Login invalide ! Insérez au moins 8 caractères!
     </div>

    </div>

  </div>
  <div class="form-group" >
    <label>Mot de passe</label>
    <input type="password" name="Mdp" #Mdp="ngModel" [(ngModel)]="userService.formData.Mdp" class="form-control" 
    [pattern]="patternPwd" required>
    <div class="validation-error"  *ngIf="Mdp.invalid && Mdp.touched">
  
      <div *ngIf="Mdp.errors['required']">
          Ce champ ne peut etre vide!
       </div>
      <div *ngIf="Mdp.errors['pattern']">
        Mot de passe invalide ! Insérez des lettres minuscules et majuscules avec des chiffres!
       </div>
    </div>
  
  </div>
  <div class="form-group" >
    <label>Rôle</label>
    <select name="Role" #Role="ngModel" [(ngModel)]="userService.formData.Role" class="form-control">
        <option>Responsable</option>
        <option>Agent</option>
       
    </select>
   

  </div>
  
  


   
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-user btn-block">Inscription</button>
  </div>
</form> 





<hr>

</div>
</div>
</div>
</div>
</div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="assets/js/sb-admin-2.min.js"></script>

</body>

</html>
