


<form #form="ngForm"  autocomplete="off" *ngIf="service.formData" (submit)="onSubmit(form)"> 
  <h1 class="display-4 text-center">Réparation externe</h1><br/>
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
      <label>Fournisseur</label>
      <select name="Fournisseur" #Fournisseur="ngModel" [(ngModel)]="service.formData.Fournisseur" class="form-control"  [class.is-invalid]="!isValid && service.formData.Id_Engin==0">
        <option value ="0">select</option>
        <option *ngFor="let i of fournisseurList" value="{{i.IdFo}}">{{i.LibelleFournisseur}}</option>
    </select>
      
    </div>
    <div class="form-group">
        <label>Engin</label>
        <select name="Id_Engin" #Id_Engin="ngModel" [(ngModel)]="service.formData.Id_Engin" class="form-control"  [class.is-invalid]="!isValid && service.formData.Id_Engin==0">
          <option value ="0">select</option>
          <option *ngFor="let i of enginList" value="{{i.IdE}}">{{i.Matricule}}</option>
      </select>
      </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Date</label>
            <div class="input-group">
                <div class="input-group-prepend">
              <div class="input-group-text">#</div>
                  </div>
                  <input type="date" min="{{minDate}}" name="DateR" #DateR="ngModel" [(ngModel)]="service.formData.DateR" class="form-control">
         
            </div>
            
          </div>
        
            </div>
      </div>
      <table class="table table-borderless">
        <thead class="thead-light">
          <th>Service</th>
          <th>Montant</th>
         
          <th>
            <a class="btn btn-sm btn-success text-white" (click)="AddOrEdit(null,service.formData.IdRE)"><i class="fa fa-plus"></i>Ajouter</a>
          </th>
        </thead>
        <tbody>
          <tr *ngIf="service.LreparationEList.length==0"   [class.text-danger]="!isValid && service.LreparationList.length==0" >
            <td class="font-italic text-center" colspan="5">
            Aucun service sélectionné
            </td>
          </tr>
          <tr *ngFor="let i of service.LreparationEList;let c=index;">
          <td>{{i.Service}}</td>
          <td>{{i.Montant}}</td>
          <td>
              <a class="btn btn-sm btn-info text-white" (click)="AddOrEdit(c,service.formData.IdRE)"><i class="fa fa-pencil"></i></a>
              <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDelete(i.Id,c)"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="form-group">
        <label>Total</label>
        <div class="input-group">
            <div class="input-group-prepend">
      
              </div>
              <input name="Total" #Total="ngModel" [(ngModel)]="service.formData.Total" class="form-control">
     
        </div>
       
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <a  class="btn btn-outline-dark ml-1" routerLink="/ReparationEListe"><i class="fa fa-table"></i>Liste des réparations</a>
      </div>
  </form> 


