
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
  <h1 class="display-4 text-center">Facture</h1>
  <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="factureService.formData.Id">
 
  <div class="form-group" >
    <label>Date facture</label>
    <input min="{{minDate}}" type="date" name="Date_Facture" #Date_Facture="ngModel" [(ngModel)]="factureService.formData.Date_Facture" class="form-control" required>

  </div>
  <div class="form-group" >
    <label>Fournisseur</label>
    <select name="Fournisseur" #Fournisseur="ngModel" [(ngModel)]="factureService.formData.Fournisseur" class="form-control">
      <option value ="0">select</option>
      <option *ngFor="let i of fournisseurList" value="{{i.IdFo}}">{{i.LibelleFournisseur}}</option>
  </select>

  </div>
  <div class="form-group" >
    <label>Observation</label>
    <input name="Observation" #Observation="ngModel" [(ngModel)]="factureService.formData.Observation" class="form-control" required>
    <div class="validation-error" *ngIf="Observation.invalid && Observation.touched">Ce champ ne peut etre vide!</div>

  </div>
  <div class="form-group" >
    <label>Total HT</label>
    <input name="TotHT" #TotHT="ngModel" [(ngModel)]="factureService.formData.TotHT" class="form-control" required>
    <div class="validation-error" *ngIf="TotHT.invalid && TotHT.touched">Ce champ ne peut etre vide!</div>

  </div>
  <div class="form-group" >
    <label>Total Rémise</label>
    <input name="TotRem" #TotRem="ngModel" [(ngModel)]="factureService.formData.TotRem" class="form-control" required>
    <div class="validation-error" *ngIf="TotRem.invalid && TotRem.touched">Ce champ ne peut etre vide!</div>

  </div>
  <div class="form-group" >
    <label>Total TVA</label>
    <input name="TotTVA" #TotTVA="ngModel" [(ngModel)]="factureService.formData.TotTVA" class="form-control" required>
    <div class="validation-error" *ngIf="TotTVA.invalid && TotTVA.touched">Ce champ ne peut etre vide!</div>

  </div>
  <div class="form-group" >
    <label>Total TTC</label>
    <input name="TotTTC" #TotTTC="ngModel" [(ngModel)]="factureService.formData.TotTTC" class="form-control" required>
    <div class="validation-error" *ngIf="TotTTC.invalid && TotTTC.touched">Ce champ ne peut etre vide!</div>

  </div>
  <div class="form-group" >
    <label>Timbre</label>
    <input name="Timbre" #Timbre="ngModel" [(ngModel)]="factureService.formData.Timbre" class="form-control" required>
    <div class="validation-error" *ngIf="Timbre.invalid && Timbre.touched">Ce champ ne peut etre vide!</div>

  </div>
    <div class="form-group" >
      <label>NET</label>
      <input name="NET" #NET="ngModel" [(ngModel)]="factureService.formData.NET" class="form-control" required>
    <div class="validation-error" *ngIf="NET.invalid && NET.touched">Ce champ ne peut etre vide!</div>
    </div>

   
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form> 


