<div class="jumbtron">

  <hr>
  <div class="row">
      <div class="col-md-5">
      <app-add-entree></app-add-entree>
    </div>
    <div class="col-md-7">
    <app-list-entree></app-list-entree>
  </div>

</div>
