<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
    <h1 class="display-4 text-center">Famille</h1>
    <input type="hidden" name="IdFa" #IdFa="ngModel" [(ngModel)]="familleService.formData.IdFa">
 
  <div class="form-group">
    <label>Libelle</label>
    <input name="LibelleFamille" #LibelleFamille="ngModel" [(ngModel)]="familleService.formData.LibelleFamille" class="form-control" required>
  <div class="validation-error" *ngIf="LibelleFamille.invalid && LibelleFamille.touched">Ce champ ne peut etre vide!</div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form> 