


<div  class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Liste des engins de réserve</h6>
  </div>
  <div class="card-body">
    <div  class="table-responsive">
      <div class="input-group">
        <input type="text" [(ngModel)]="SearchText" class="form-control bg-light border-0 small" placeholder="Recherche..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
        <br /><br />
        <div id="Engin">
      <table  class="table table-bordered"  width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Matricule</th>
            <th>Date acquisition</th>
            <th>Valeur acquisition</th>
            <th>Date mise en service</th>
            <th>Nature</th>
            <th>Numéro serie</th>
            <th>Date visite technique</th>
            <th>Date réparation</th>
            <th>PU</th>
            <th>Nombre de place</th>
            <th>Mat_Origine</th>
            <th>Type</th>
            <th>Model</th>
            <th>Marque</th>
            <th>Direction</th>
            <th>Numéro entrée</th>
            <th>Numéro sortie</th>
          </tr>
        </thead>
        <tbody>
  


  <tr *ngFor="let f of enginService.enginList |filter:SearchText |paginate: {itemsPerPage:5, currentPage:p}">
    


    
    <td (click)="populateForm(f)">{{f.Matricule}}</td>
    <td (click)="populateForm(f)">{{f.Date_Acquis}}</td>
    <td (click)="populateForm(f)">{{f.Val_Acquis}}</td>
    <td (click)="populateForm(f)">{{f.Date_Mise_Service}}</td>
    <td (click)="populateForm(f)">{{f.Nature}}</td>
    <td (click)="populateForm(f)">{{f.NSerie}}</td>
    <td (click)="populateForm(f)">{{f.Date_Visite_Technique}}</td>
    <td (click)="populateForm(f)">{{f.Date_Reparation}}</td>
    <td (click)="populateForm(f)">{{f.PU}}</td>
    <td (click)="populateForm(f)">{{f.Nbre_Place}}</td>
    <td (click)="populateForm(f)">{{f.Mat_Origine}}</td>
    <td (click)="populateForm(f)">{{f.LibelleTypeEngin}}</td>
    <td (click)="populateForm(f)">{{f.LibelleModel}}</td>
    <td (click)="populateForm(f)">{{f.LibelleMarque}}</td>
    <td (click)="populateForm(f)">{{f.LibelleDirection}}</td>
    <td (click)="populateForm(f)">{{f.numeroEntree}}</td>
    <td (click)="populateForm(f)">{{f.numeroSortie}}</td>

 
 
    
     
    
     
  </tr>
  <div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite"></div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"></ul></div></div></div>
</tbody>

</table>
</div>
<pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>
</div>
</div>


