
<div class="jumbtron">

  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-add-destination></app-add-destination>
    </div>
    <div class="col-md-5">
      <app-list-destination></app-list-destination>
    </div>
  </div>

</div>
