<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Liste des destinations</h6>
  </div>
  <div class="card-body">
    <div  class="table-responsive">
        <div class="input-group">
            <input type="text" [(ngModel)]="SearchText" class="form-control bg-light border-0 small" placeholder="Recherche..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
            <br /><br />
            <div id="Destination">
      <table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Libéllé</th>
          
            <th>Distance</th>
            
          </tr>
        </thead>
        <tbody>
  
    <tr *ngFor="let f of destinationService.destinationList|filter:SearchText |paginate: {itemsPerPage:5, currentPage:p}">
      
  
     
      <td (click)="populateForm(f)">{{f.LibelleDestination}}</td>
    
     
      <td (click)="populateForm(f)">{{f.Distance}}</td>
    
      
      <td><button (click)="onDelete(f.IdDes)" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash fa-lg"></i></button></td>
     
    </tr>
    <div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite"></div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"></ul></div></div></div>
  </tbody>
</table>
</div>
<pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>
</div>
</div>