<h4 class="dislay-4"></h4>
<hr>
<form #form="ngForm" autocomplete="off"  (submit)="onSubmit(form)">
   
    <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="formData.Id">


    <div class="form-row">
      <div class="form-group col-md-6">
          <label>Service</label>
          <div class="input-group">
              <div class="input-group-prepend">
            <div class="input-group-text">$</div>
                </div>
                <input name="Service" #Service="ngModel" [(ngModel)]="formData.Service" class="form-control" >
       
          </div>
         
        </div>
        
        <div class="form-group col-md-6">
            <label>Montant</label>
            
                  <input name="Montant" #Montant="ngModel" [(ngModel)]="formData.Montant" class="form-control" 
                  [class.is-invalid]="!isValid && formData.Montant>0">
         
                </div>
           
          </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
            <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
        </div>
</form>
