<div class="jumbtron">

  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-add-motif></app-add-motif>
    </div>
    <div class="col-md-5">
      <app-list-motif></app-list-motif>
    </div>
  </div>

</div>
