<div class="jumbtron">

  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-add-sfamille></app-add-sfamille>
    </div>
    <div class="col-md-5">
      <app-list-sfamille></app-list-sfamille>
    </div>
  </div>

</div>

