<div class="jumbtron">

  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-add-carburant></app-add-carburant>
    </div>
    <div class="col-md-5">
      <app-list-carburant></app-list-carburant>
    </div>
  </div>

</div>
