
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
    <h1 class="display-4 text-center">Model</h1>
  <input type="hidden" name="IdM" #IdM="ngModel" [(ngModel)]="modelService.formData.IdM">
 
  <div class="form-group" >
    <label>Libelle</label>
    <input name="LibelleModel" #LibelleModel="ngModel" [(ngModel)]="modelService.formData.LibelleModel" class="form-control" required>
  <div class="validation-error" *ngIf="LibelleModel.invalid && LibelleModel.touched">Ce champ ne peut etre vide!</div>
  </div>
  <div class="form-group" >
    <label>Marque</label>
    <select name="Id_Marque" #Id_Marque="ngModel" [(ngModel)]="modelService.formData.Id_Marque" class="form-control">
      <option value ="0">select</option>
      <option *ngFor="let i of marqueList" value="{{i.IdMa}}">{{i.LibelleMarque}}</option>
  </select>

  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form> 


