<div class="jumbtron">

  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-add-fonction></app-add-fonction>
    </div>
    <div class="col-md-5">
      <app-list-fonction></app-list-fonction>
    </div>
  </div>

</div>
