
<form #form="ngForm"  (submit)="onSubmit(form)" autocomplete="off"> 
  <h1 class="display-4 text-center">Engin</h1>
    <input type="hidden" name="IdE" #IdE="ngModel" [(ngModel)]="enginService.formData.IdE">
    <div class="form-group" >
        <label>Matricule</label>
        <input name="Matricule" #Matricule="ngModel" [(ngModel)]="enginService.formData.Matricule" class="form-control" required>
      <div class="validation-error" *ngIf="Matricule.invalid && Matricule.touched">Ce champ ne peut etre vide!</div>
      </div>
    <div class="form-group" >
      <label>Date acquisition</label>
      <input type="date" min="{{minDate}}" name="Date_Acquis" #Date_Acquis="ngModel" [(ngModel)]="enginService.formData.Date_Acquis" class="form-control" required>
 
    </div>
    <div class="form-group" >
      <label>Valeur acquisition</label>
      <input name="Val_Acquis" #Val_Acquis="ngModel" [(ngModel)]="enginService.formData.Val_Acquis" class="form-control" required>
      <div class="validation-error" *ngIf="Val_Acquis.invalid && Val_Acquis.touched">Ce champ ne peut etre vide!</div>
  
    </div>
    <div class="form-group" >
        <label>Date mise en service</label>
        <input min="{{minDate}}" type="date" name="Date_Mise_Service" #Date_Mise_Service="ngModel" [(ngModel)]="enginService.formData.Date_Mise_Service" class="form-control" required>
   
      </div>
      <div class="form-group" >
        <label>Nature</label>
        <select name="Nature" #Nature="ngModel" [(ngModel)]="enginService.formData.Nature" class="form-control">
          <option>Service</option>
          <option>Reserve</option>
      </select>
    
      </div>
      <div class="form-group" >
        <label>Numéro serie</label>
        <input name="NSerie" #NSerie="ngModel" [(ngModel)]="enginService.formData.NSerie" class="form-control" required>
      <div class="validation-error" *ngIf="NSerie.invalid && NSerie.touched">Ce champ ne peut etre vide!</div>
      </div>
      <div class="form-group" >
        <label>Date visite technique</label>
        <input min="{{minDate}}" type="date" name="Date_Visite_Technique" #Date_Visite_Technique="ngModel" [(ngModel)]="enginService.formData.Date_Visite_Technique" class="form-control" required>
   
      </div>
      <div class="form-group" >
        <label>Date réparation</label>
        <input min="{{minDate}}" type="date" name="Date_Reparation" #Date_Reparation="ngModel" [(ngModel)]="enginService.formData.Date_Reparation" class="form-control" required>
   
      </div>
      <div class="form-group" >
        <label>Prix</label>
        <input name="PU" #PU="ngModel" [(ngModel)]="enginService.formData.PU" class="form-control" required>
      <div class="validation-error" *ngIf="PU.invalid && PU.touched">Ce champ ne peut etre vide!</div>
      </div>
      <div class="form-group" >
        <label>Nombre de place</label>
        <input name="Nbre_Place" #Nbre_Place="ngModel" [(ngModel)]="enginService.formData.Nbre_Place" class="form-control" required>
      <div class="validation-error" *ngIf="Nbre_Place.invalid && Nbre_Place.touched">Ce champ ne peut etre vide!</div>
      </div>
    
      <div class="form-group" >
        <label>Matricule origine</label>
        <input name="Mat_Origine" #Mat_Origine="ngModel" [(ngModel)]="enginService.formData.Mat_Origine" class="form-control" required>
      <div class="validation-error" *ngIf="Mat_Origine.invalid && Mat_Origine.touched">Ce champ ne peut etre vide!</div>
      </div>
      <div class="form-group" >
        <label>Type</label>
        <select name="Id_Type" #Id_Type="ngModel" [(ngModel)]="enginService.formData.Id_Type" class="form-control">
          <option value ="0">select</option>
          <option *ngFor="let i of typeList" value="{{i.Id}}">{{i.LibelleTypeEngin}}</option>
      </select>
    
      </div>
      <div class="form-group" >
        <label>Model</label>
        <select name="Id_Model" #Id_Model="ngModel" [(ngModel)]="enginService.formData.Id_Model" class="form-control">
          <option value ="0">select</option>
          <option *ngFor="let i of modelList" value="{{i.IdM}}">{{i.LibelleModel}}</option>
      </select>
    
      </div>
      <div class="form-group" >
        <label>Marque</label>
        <select name="Id_Marque" #Id_Marque="ngModel" [(ngModel)]="enginService.formData.Id_Marque" class="form-control">
          <option value ="0">select</option>
          <option *ngFor="let i of marqueList" value="{{i.IdMa}}">{{i.LibelleMarque}}</option>
      </select>
    
      </div>
      <div class="form-group" >
        <label>Direction</label>
        <select name="Id_Direction" #Id_Direction="ngModel" [(ngModel)]="enginService.formData.Id_Direction" class="form-control">
          <option value ="0">select</option>
          <option *ngFor="let i of directionList" value="{{i.IdD}}">{{i.LibelleDirection}}</option>
      </select>
    
      </div>
    
     
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
    </div>
  </form> 
  
  
