
      
      <h2>Consommation par direction</h2>
      <p-chart height="300" type="bar" [data]="data"></p-chart>
<h2>Consommation par mois</h2>
        <p-chart height="300" type="doughnut" [data]="data2"></p-chart>