
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
  <h1 class="display-4 text-center">Sortie</h1>
  <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="sortieService.formData.Id">
  <div class="form-group" >
      <label>Numéro</label>
      <input name="NumeroS" #NumeroS="ngModel" [(ngModel)]="sortieService.formData.NumeroS" class="form-control" readonly>
    <div class="validation-error" *ngIf="NumeroS.invalid && NumeroS.touched">Ce champ ne peut etre vide!</div>
    </div>
  <div class="form-group" >
    <label>Date sortie</label>
    <input min="{{minDate}}" type="date" name="Date_Sortie"  #Date_Sortie="ngModel" [(ngModel)]="sortieService.formData.Date_Sortie" class="form-control" required>
  
  </div>
  <div class="form-group" >
    <label>Numero entrée</label>
    <select name="Numero_Entree" #Numero_Entree="ngModel" [(ngModel)]="sortieService.formData.Numero_Entree" class="form-control">
      <option value ="0">select</option>
      <option *ngFor="let i of entreeList" value="{{i.IdEn}}">{{i.Numero}}</option>
  </select>

  </div>
  <div class="form-group" >
    <label>Engin</label>
    <select name="Id_Engin" #Id_Engin="ngModel" [(ngModel)]="sortieService.formData.Id_Engin" class="form-control">
      <option value ="0">select</option>
      <option *ngFor="let i of enginList" value="{{i.IdE}}">{{i.Matricule}}</option>
  </select>

  </div>
 
 
  <div class="form-group" >
    <label>Observation</label>
    <input name="Observation" #Observation="ngModel" [(ngModel)]="sortieService.formData.Observation" class="form-control" required>
  <div class="validation-error" *ngIf="Observation.invalid && Observation.touched">Ce champ ne peut etre vide!</div>
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form> 


