<div id="Entretien">
  <h2 align="center">Liste des entretiens</h2>
  <table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Date</th>
       
        <th>Engin</th>
        <th>Nature</th>
        
      </tr>
    </thead>
    <tbody>

<tr *ngFor="let f of entretienService.list">
  

    <td (click)="populateForm(f)">{{f.DateEntretien}}</td>

  <td (click)="populateForm(f)">{{f.IdEngin}}</td>
  <td (click)="populateForm(f)">{{f.Nature}}</td>

 
 

 

</tr>

</tbody>
</table>
</div>

<div align="center">
  <button style="background-color:powderblue;" (click)="generatePdf()">Generate PDF</button>
  </div>