
<form #form="ngForm"  (submit)="onSubmit(form)" autocomplete="off"> 
  <h1 class="display-4 text-center">Consommation</h1>
    <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="consommationService.formData.Id">

      <div class="form-group" >
        <label>Direction</label>
        <select name="Id_Direction" #Id_Direction="ngModel" [(ngModel)]="consommationService.formData.Id_Direction" class="form-control">
          <option value ="0">select</option>
          <option *ngFor="let i of directionList" value="{{i.IdD}}">{{i.LibelleDirection}}</option>
      </select>
    
      </div>
    
    <div class="form-group" >
      <label>Observation</label>
      <input name="Observation" #Observation="ngModel" [(ngModel)]="consommationService.formData.Observation" class="form-control" required>
      <div class="validation-error" *ngIf="Observation.invalid && Observation.touched">Ce champ ne peut etre vide!</div>
  
    </div>
 
    <div class="form-group" >
      <label>Date </label>
      <input min="{{minDate}}" type="date" name="Date_nvt" #Date_nvt="ngModel" [(ngModel)]="consommationService.formData.Date_nvt" class="form-control" required>
    
    </div>
   
      
      <div class="form-group" >
        <label>Nombre de litres</label>
        <input name="NbreL" #NbreL="ngModel" [(ngModel)]="consommationService.formData.NbreL" class="form-control" required>
      <div class="validation-error" *ngIf="NbreL.invalid && NbreL.touched">Ce champ ne peut etre vide!</div>
      </div>
      <div class="form-group" >
        <label>Nature</label>
        <select name="Nature" #Nature="ngModel" [(ngModel)]="consommationService.formData.Nature" class="form-control">
          <option>Gazoil</option>
          <option>Essence</option>
          <option>Sans plomb</option>
      </select>
    
      </div>
    
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
    </div>
  </form> 
  
  
