<div class="jumbtron">

  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-add-famille></app-add-famille>
    </div>
    <div class="col-md-5">
      <app-list-famille></app-list-famille>
    </div>
  </div>

</div>

