
<form #form="ngForm"  autocomplete="off" *ngIf="service.formData" (submit)="onSubmit(form)"> 
    <input type="hidden"  name="IdR" #IdR="ngModel" [(ngModel)]="service.formData.IdR">
    <h1 class="display-4 text-center">Réparation interne</h1><br/>
    <div class="row">
      <div class="col-md-6">
          <div class="form-group">
        <label>Numero</label>
        <div class="input-group">
            <div class="input-group-prepend">
          <div class="input-group-text">#</div>
              </div>
              <input name="Numero" #Numero="ngModel" [(ngModel)]="service.formData.Numero" class="form-control" readonly>
     
        </div>
        
      </div>
      <div class="form-group">
          <label>Engin</label>
          <select name="Id_Engin" #Id_Engin="ngModel" [(ngModel)]="service.formData.Id_Engin" class="form-control"  [class.is-invalid]="!isValid && service.formData.Id_Engin==0">
            <option value ="0">select</option>
            <option *ngFor="let i of enginList" value="{{i.IdE}}">{{i.Matricule}}</option>
        </select>
        </div>
        <div class="form-group">
          <label>Observation</label>
          <div class="input-group">
              <div class="input-group-prepend">
            <div class="input-group-text">#</div>
                </div>
                <input name="Observation" #Observation="ngModel" [(ngModel)]="service.formData.Observation" class="form-control">
                <div class="validation-error" *ngIf="Observation.invalid && Observation.touched">Ce champ ne peut etre vide!</div>
          </div>
          
        </div>
      </div>
      <div class="col-md-6">
         
            <div class="form-group">
              <label>Date</label>
              <div class="input-group">
                  <div class="input-group-prepend">
                <div class="input-group-text">#</div>
                    </div>
                    <input type="date" min="{{minDate}}" name="Date" #Date="ngModel" [(ngModel)]="service.formData.Date" class="form-control">
           
              </div>
              
            </div>
              </div>
              
               
                 
                    </div>
      
        <table class="table table-borderless">
          <thead class="thead-light">
          
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
         
            <th>
              <a class="btn btn-sm btn-success text-white" (click)="AddOrEdit(null,service.formData.IdR)"><i class="fa fa-plus"></i>Ajouter un produit</a>
            </th>
          </thead>
          <tbody>
            <tr *ngIf="service.LreparationList.length==0"   [class.text-danger]="!isValid && service.LreparationList.length==0" >
              <td class="font-italic text-center" colspan="5">
              
                Pas de produit sélectionné pour cette réparation.
              </td>
            </tr>
            <tr *ngFor="let i of service.LreparationList;let c=index;">
           
            <td>{{i.ProduitName}}</td>
            <td>{{i.PU}}</td>
            <td>{{i.Quantite}}</td>
            <td>{{i.Montant}}</td>
           
            <td>
                <a class="btn btn-sm btn-info text-white" (click)="AddOrEdit(c,service.formData.IdR)"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDelete(i.Id,c)"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="form-group">
          <label>Grand Total</label>
          <div class="input-group">
              <div class="input-group-prepend">
      
                </div>
                <input name="Total" #Total="ngModel" [(ngModel)]="service.formData.Total" class="form-control">
       
          </div>
         
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
          <a  class="btn btn-outline-dark ml-1" routerLink="/ReparationListe"><i class="fa fa-table"></i>Liste des réparations</a>
        </div>
    </form> 