

<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
  <h1 class="display-4 text-center">Mission</h1>
  <input type="hidden" name="IdMi" #IdMi="ngModel" [(ngModel)]="missionService.formData.IdMi">
  <div class="form-group" >
    
      <label>Numero</label>
      <input name="Numero" #Numero="ngModel" [(ngModel)]="missionService.formData.Numero" class="form-control" readonly>
    <div class="validation-error" *ngIf="Numero.invalid && Numero.touched">Ce champ ne peut etre vide!</div>
    </div>
  <div class="form-group" >
    <label>Date mission</label>
    <input type="date" name="Date_Mission" #Date_Mission="ngModel" [(ngModel)]="missionService.formData.Date_Mission" class="form-control" required>

  </div>
  <div class="form-group" >
    <label>Objet</label>
    <input name="Objet" #Objet="ngModel" [(ngModel)]="missionService.formData.Objet" class="form-control" required>
    <div class="validation-error" *ngIf="Objet.invalid && Objet.touched">Ce champ ne peut etre vide!</div>

  </div>
  <div class="form-group" >
      <label>Numero de la demande</label>
      <select name="NumeroDemande" #NumeroDemande="ngModel" [(ngModel)]="missionService.formData.NumeroDemande" class="form-control">
        <option value ="0">select</option>
        <option *ngFor="let i of demandeList" value="{{i.IdDM}}">{{i.Numero}}</option>
    </select>
 
    </div>
    <div class="form-group" >
      <label>Destination</label>
      <select name="Destination" #Destination="ngModel" [(ngModel)]="missionService.formData.Destination" class="form-control">
        <option value ="0">select</option>
        <option *ngFor="let i of destinationList" value="{{i.IdDes}}">{{i.LibelleDestination}}</option>
    </select>
  
    </div>
    <div class="form-group" >
      <label>Engin</label>
      <select name="IdEngin" #IdEngin="ngModel" [(ngModel)]="missionService.formData.IdEngin" class="form-control">
        <option value ="0">select</option>
        <option *ngFor="let i of enginList" value="{{i.IdE}}">{{i.Matricule}}</option>
    </select>
  
    </div>
  
    <div class="form-group" >
      <label>Date début</label>
      <input type="date" name="Date_Debut" #Date_Debut="ngModel" [(ngModel)]="missionService.formData.Date_Debut" class="form-control" required>
 
    </div>
    <div class="form-group" >
      <label>Date fin</label>
      <input type="date" name="Date_Fin" #Date_Fin="ngModel" [(ngModel)]="missionService.formData.Date_Fin" class="form-control" required>
 
    </div>
   
    <div class="form-group" >
      <label>Personne</label>
      <input name="Personne" #Personne="ngModel" [(ngModel)]="missionService.formData.Personne" class="form-control" required>
      <div class="validation-error" *ngIf="Personne.invalid && Personne.touched">Ce champ ne peut etre vide!</div>
  
    </div>
    <div class="form-group" >
      <label>Nombre de litres</label>
      <input name="NbreL" #NbreL="ngModel" [(ngModel)]="missionService.formData.NbreL" class="form-control" required>
      <div class="validation-error" *ngIf="Personne.invalid && Personne.touched">Ce champ ne peut etre vide!</div>
  
    </div>
   
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form> 


