<div class="jumbtron">

  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-add-grade></app-add-grade>
    </div>
    <div class="col-md-5">
      <app-list-grade></app-list-grade>
    </div>
  </div>

</div>
