<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
    <h1 class="display-4 text-center">Fonction</h1>
    <input type="hidden" name="IdF" #IdF="ngModel" [(ngModel)]="fonctionService.formData.IdF">
 
    <div class="form-group">
      <label>Libelle</label>
      <input name="LibelleFonction" #LibelleFonction="ngModel" [(ngModel)]="fonctionService.formData.LibelleFonction" class="form-control" required>
    <div class="validation-error" *ngIf="LibelleFonction.invalid && LibelleFonction.touched">Ce champ ne peut etre vide!</div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
    </div>
  </form> 