
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Liste des factures</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
        <div class="input-group">
            <input type="text" [(ngModel)]="SearchText" class="form-control bg-light border-0 small" placeholder="Recherche..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
            <br /><br />
            <div id="Facture">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Date de la facture</th>
                <th>Fournisseur</th>
                <th>Observation</th>
                <th>Total HT</th>
                <th>Total rémise</th>
                <th>Total TVA</th>
                <th>Total TTC</th>
                <th>Timbre</th>
                <th>NET</th>
              </tr>
            </thead>
            <tbody>

  <tr *ngFor="let f of factureService.listFacture|filter:SearchText |paginate: {itemsPerPage:5, currentPage:p}">
    

      <td (click)="populateForm(f)">{{f.Date_Facture}}</td>
  
    <td (click)="populateForm(f)">{{f.Fournisseur}}</td>
    <td (click)="populateForm(f)">{{f.Observation}}</td>
  
    <td (click)="populateForm(f)">{{f.TotHt}}</td>
    <td (click)="populateForm(f)">{{f.TotRem}}</td>
  
    <td (click)="populateForm(f)">{{f.TotTVA}}</td>
    <td (click)="populateForm(f)">{{f.TotTTC}}</td>
  
    <td (click)="populateForm(f)">{{f.Timbre}}</td>
 
    <td (click)="populateForm(f)">{{f.NET}}</td>
 
    <td><button (click)="onDelete(f.Id)" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash fa-lg"></i></button></td>
    
  </tr>
  <div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite"></div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"></ul></div></div></div>
</tbody>
</table>
</div>
<pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>
</div>
</div>