<div id="Engin">
    <h2 align="center">Liste des engins</h2>
    <table  class="table table-bordered"  width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Matricule</th>
          <th>Valeur acquisition</th>
          <th>Nature</th>
          <th>Numéro serie</th>
          <th>Type</th>
          <th>Model</th>
          <th>Marque</th>
          <th>Direction</th>
        
      </thead>
      <tbody>

<tr *ngFor="let f of enginService.enginList">
  
  <td (click)="populateForm(f)">{{f.Matricule}}</td>
  <td (click)="populateForm(f)">{{f.Val_Acquis}}</td>
  <td (click)="populateForm(f)">{{f.Nature}}</td>
  <td (click)="populateForm(f)">{{f.NSerie}}</td>
  <td (click)="populateForm(f)">{{f.LibelleTypeEngin}}</td>
  <td (click)="populateForm(f)">{{f.LibelleModel}}</td>
  <td (click)="populateForm(f)">{{f.LibelleMarque}}</td>
  <td (click)="populateForm(f)">{{f.LibelleDirection}}</td>


</tr>

</tbody>

</table>
</div>
<div align="center">
<button style="background-color:powderblue;" (click)="generatePdf()">Generate PDF</button>
</div>