<div class="jumbtron">

    <hr>
    <div class="row">
      <div class="col-md-5">
        <app-add-residence></app-add-residence>
      </div>
      <div class="col-md-5">
        <app-list-residence></app-list-residence>
      </div>
    </div>
  
  </div>
  