
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
  <h1 class="display-4 text-center">Destination</h1>
  <input type="hidden" name="IdDes" #IdDes="ngModel" [(ngModel)]="destinationService.formData.IdDes">
  <div class="form-group" >
      <label>Libellé</label>
      <input name="LibelleDestination" #LibelleDestination="ngModel" [(ngModel)]="destinationService.formData.LibelleDestination" class="form-control" required>
    <div class="validation-error" *ngIf="LibelleDestination.invalid && LibelleDestination.touched">Ce champ ne peut etre vide!</div>
    </div>
 
  <div class="form-group" >
    <label>Distance</label>
    <input name="Distance" #Distance="ngModel" [(ngModel)]="destinationService.formData.Distance" class="form-control" required>
    <div class="validation-error" *ngIf="Distance.invalid && Distance.touched">Ce champ ne peut etre vide!</div>

  </div>

  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form> 


