
<a class="btn btn-outline-dark ml-1" routerLink="/list-produit"><i class="fa fa-plus-square"></i> Liste </a>
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off"> 
  <h1 class="display-4 text-center">Produit</h1>
  <input type="hidden" name="IdP" #IdP="ngModel" [(ngModel)]="produitService.formData.IdP">
 
  <div class="form-group" >
    <label>Libellé</label>
    <input  name="IdProduit" #IdProduit="ngModel" [(ngModel)]="produitService.formData.IdProduit" class="form-control" required>
    <div class="validation-error" *ngIf="IdProduit.invalid && IdProduit.touched">Ce champ ne peut etre vide!</div>
  </div>
  <div class="form-group" >
    <label>Design</label>
    <input  name="Design" #Design="ngModel" [(ngModel)]="produitService.formData.Design" class="form-control" required>
    <div class="validation-error" *ngIf="Design.invalid && Design.touched">Ce champ ne peut etre vide!</div>
  </div>
  <div class="form-group" >
    <label>Prix</label>
    <input name="PU" #PU="ngModel" [(ngModel)]="produitService.formData.PU" class="form-control" required>
    <div class="validation-error" *ngIf="PU.invalid && PU.touched">Ce champ ne peut etre vide!</div>

  </div>
  <div class="form-group" >
    <label>TVA</label>
    <input name="TVA" #TVA="ngModel" [(ngModel)]="produitService.formData.TVA" class="form-control" required>
    <div class="validation-error" *ngIf="TVA.invalid && TVA.touched">Ce champ ne peut etre vide!</div>

  </div>
  <div class="form-group" >
    <label>Fodec</label>
    <input name="Fodec" #Fodec="ngModel" [(ngModel)]="produitService.formData.Fodec" class="form-control" required>
    <div class="validation-error" *ngIf="Fodec.invalid && Fodec.touched">Ce champ ne peut etre vide!</div>

  </div>
  <div class="form-group" >
    <label>Stock initial</label>
    <input name="Strock_Init" #Strock_Init="ngModel" [(ngModel)]="produitService.formData.Strock_Init" class="form-control" required>
    <div class="validation-error" *ngIf="Strock_Init.invalid && Strock_Init.touched">Ce champ ne peut etre vide!</div>

  </div>
  <div class="form-group" >
    <label>Sous famille</label>
    <select name="Id_S_Famille" #Id_S_Famille="ngModel" [(ngModel)]="produitService.formData.Id_S_Famille" class="form-control">
        <option value ="0">select</option>
        <option *ngFor="let i of listsfam" value="{{i.IdSf}}">{{i.LibelleFamille}}</option>
    </select>

  </div>
  <div class="form-group" >
    <label>Famille</label>
    <select name="Id_Famille" #Id_Famille="ngModel" [(ngModel)]="produitService.formData.Id_Famille" class="form-control">
        <option value ="0">select</option>
        <option *ngFor="let i of listfam" value="{{i.IdFa}}">{{i.LibelleFamille}}</option>
    </select>

  </div>
    

   
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" *ngIf="produitService.formData.Fodec == 0" class="btn btn-lg btn-block">VALIDER</button>
    <button type="submit" [disabled]="form.invalid"  *ngIf="produitService.formData.Fodec != 0" class="btn btn-lg btn-block">Modifier</button>
    </div>
</form> 


